@{
    ViewBag.Title = "Edit Product";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="row">
    <div class="col-lg-6">
        <form role="form" method="post" action="@Url.Action("updateProduct","Admin")" enctype="multipart/form-data">
            <input type="hidden"  value="@ViewBag.idProduct" name="id"/>
            <div class="form-group">
                <label>Tên sản phẩm</label>
                <input required class="form-control" name="product_name" value="@ViewBag.product[1]">
                <p class="help-block">Example: Áo sơ mi cao cấp SM-12</p>
            </div>
            <div class="form-group">
                <label>Giá</label>
                <input required class="form-control" name="price"  value="@ViewBag.product[2]" placeholder="VD: 20.000 đ">
            </div>
            <div class="form-group">
                <label>Kích cỡ</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="size[]" value="S" @foreach (var size in ViewBag.product[3]) { if (size == "S") {@Html.Raw("")} }>S
</label>

</div>



<div class="checkbox">
                    <label>
                        <input type="checkbox" name="size[]" value="M" @foreach (var size in ViewBag.product[3]) { if (size == "M") {@Html.Raw("")} }>M
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="size[]" value="L" @foreach (var size in ViewBag.product[3]) { if (size == "L") {@Html.Raw("")} }>L
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="size[]" value="XS" @foreach (var size in ViewBag.product[3]) { if (size == "XS") {@Html.Raw("")} }>XS
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="size[]" value="XL" @foreach (var size in ViewBag.product[3]) { if (size == "XL") {@Html.Raw("")} }>XL
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Màu</label>
                <input class="form-control" required name="color" placeholder="Mỗi màu kích nhau bới dấu ';' chấm phẩy">
            </div>
            <div class="form-group">
                <label>Giảm giá (%):</label>
                <input class="form-control" required name="discount" value="@ViewBag.product[5]" placeholder="Example: 20%">
            </div>
            <div class="form-group">
                <label>Số lượng:</label>
                <input class="form-control" required name="inventory" value="@ViewBag.product[6]" placeholder="">
            </div>
            <input  name="file" value="@ViewBag.product[9][0]" type="hidden"/>
            <div class="form-group">
                <label>Loại</label>
                <select class="form-control" required name="type_product">
                    <option value="Đầm" @if (ViewBag.product[8] == "Đầm") { @Html.Raw("selected"); }>Đầm</option>

    <option value="Áo" @if (ViewBag.product[8] == "Áo") { @Html.Raw("selected"); }>Áo</option>

    <option value="Giầy" @if (ViewBag.product[8] == "Giầy") { @Html.Raw("selected"); }>Giầy</option>

</select>

</div>
            <div class="form-group">
                <label>Mô tả:</label>
                <textarea required class="form-control" name="note" rows="3">@ViewBag.product[7]</textarea>
            </div>
            <button type="submit" class="btn btn-success">Add</button>
            <button type="reset" class="btn btn-default">Reset</button>
        </form>
    </div>
    <!-- /.col-lg-6 (nested) if>
</div>
